@import "/src/styles/variables";

.articleContainer {
  background-color: rgb(255, 255, 255);
  text-align: left;
  border-radius: 10px;
  overflow: hidden;
  width: 320px;
  box-shadow: 3px 3px 10px rgba(135, 135, 135, 0.5);

  h3, p {
    margin-inline: 20px;
  }

  h3 {
    margin-block: 35px;
    font-size: 1.3rem;
    font-weight: 500;
  }

  p {
    margin-bottom: 30px;
    font-size: 1.1rem;
  }

  .iconWrapper {
    display: flex;
    justify-content: flex-start;
    padding: 12px 20px;
    border-radius: 15px;
    margin-top: 30px;
    margin-inline: 20px;
  }

  .thermometerWrapper {
    @extend .iconWrapper;
    background-color: $superLightPink;
  }

  .palmTreeWrapper {
    @extend .iconWrapper;
    background-color: $superLightGreen;
  }

  .sparklesWrapper {
    @extend .iconWrapper;
    background-color: $lightYellow;
  }

  .iconSize {
    width: 30px;
    height: 30px;
  }

  .thermometerIcon {
    @extend .iconSize;
    color: rgb(213, 46, 82);
  }

  .palmTreeIcon {
    @extend .iconSize;
    color: $palmTreeGreen;
  }

  .sparklesIcon {
    @extend .iconSize;
    color: $superDarkYellow;
  }
}

@media screen and (max-width: 1024px) {
  .articleContainer {
    width: 260px;
  }
}

@media screen and (max-width: 768px) {
  .articleContainer {
    width: 220px;

    h3 {
      font-size: 1.2rem;
      margin-block: 25px;
    }

    p {
      font-size: 1rem;
      margin-bottom: 20px;
    }

    .iconWrapper {
      padding: 10px 15px;
      margin-top: 20px;
      margin-inline: 15px;
    }

    .iconSize {
      width: 25px;
      height: 25px;
    }
  }
}

@media screen and (max-width: 425px) {
  .articleContainer {
    width: 250px;

    p {
      margin-bottom: 25px;
    }
  }
}

@media screen and (max-width: 375px) {
  .articleContainer {
    width: 220px;
  }
}