@import "/src/styles/variables";
@import "/src/styles/mixins";

.container {
  width: 100%;
  padding: 50px 20px;
}

.title {
  font-size: 2.5rem;
  margin-bottom: 50px;
  text-align: center;
  margin-top: 0;
}

.favoritesWrapper {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 20px;
  justify-content: center;
  margin-bottom: 100px;

  a {
    text-decoration: none;
    color: inherit;
    height: 100%;
  }
}

.emptyContainer {
  .emptyMessage {
    text-align: center;
    font-size: 1.2rem;
    color: $h1;
    margin-top: 50px;
    margin-bottom: 30px;
    font-style: italic;
  }

  a {
    @include button-base;
    font-size: 1.2rem;
    padding: 5px 10px;
  }
}


@media screen and (max-width: 768px) {
  .container {
    padding: 30px 15px;
  }

  .title {
    font-size: 2.3rem;
    margin-bottom: 30px;
  }

  .favoritesWrapper {
    grid-template-columns: repeat(2, auto);
    gap: 20px;
  }
}

@media screen and (max-width: 425px) {
  .favoritesWrapper {
    grid-template-columns: repeat(1, auto);
    justify-items: center;
  }

  .title {
    font-size: 1.8rem;
  }
}