@import "/src/styles/variables";

.calendarWrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
  
  // Main container
  .rdp-root {
    --rdp-accent-color: #{$darkGreen};
    --rdp-accent-background-color: #{$superLightGreen};
    --rdp-today-color: #{$darkGreen};
    
    background: rgb(255, 255, 255);
    padding: 16px;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  }

  // Navigation btn (arrows)
  .rdp-button_previous,
  .rdp-button_next {
    color: $darkGreen;
    border: none;
    background: $superLightGreen;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    margin-right: 7px;

    &:hover {
      background-color: $lightGreen;
    }

    svg {
      fill: $darkGreen;
      stroke: $darkGreen;
    }
  }

  // Month / year title
  .rdp-month_caption {
    font-weight: 600;
    color: $textPrimary;
    font-size: 1.3rem;
  }

  // Weekdays title (Mon, Tue, etc)
  .rdp-weekday {
    color: $darkGreen;
    font-weight: 500;
    font-size: 0.85rem;
  }

  // All days btn
  .rdp-day_button {
    border-radius: 8px;
    transition: all 0.15s ease;

    &:hover {
      background-color: $superLightGreen;
    }
  }

  // Todays date
  .rdp-today {
    .rdp-day_button {
      border: 2px solid $lightGreen;
      background-color: transparent;
      color: $darkGreen;
      font-weight: 600;
    }
  }

  // Selected day (range start/end)
  .rdp-selected {
    .rdp-day_button {
      background-color: $darkGreen;
      color: white;
      font-weight: 600;
    }
  }

  // Days in the middle of range
  .rdp-range_middle {
    .rdp-day_button {
      background-color: $superLightGreen;
      color: $darkGreen;
      border-radius: 0;
    }
  }
}