@import "/src/styles/variables";
@import "/src/styles/mixins";

.searchPage {
	width: 100%;
	position: relative;
	padding-bottom: 10px;
	overflow: hidden;

	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: -10px;
		background-image: url("/background17.jpg");
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		filter: blur(1.5px);
		z-index: 0;
	}

	&::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100px;
    background: linear-gradient(to bottom, transparent, rgb(255, 255, 255));
    pointer-events: none;
		z-index: 2;
  }

	.formContainer {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 100px;
		background: rgb(255, 255, 255, 0.8);
		border-radius: 20px;
		box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
		margin: 50px;
		margin-bottom: 100px;
		padding-block: 50px;
		padding-inline: 130px;
		justify-self: center;
		position: relative;
		z-index: 1;

		&::before {
			content: "";
			position: absolute;
			left: 50%;
			top: 150px;
			bottom: 150px;
			width: 1px;
			background: rgba($textPrimary, 0.2);
			transform: translateX(-50%);
		}

		.titleH2 {
			grid-column: 1 / -1;
			font-size: 2.5rem;
			margin: 0;
			margin-bottom: -50px;
			color: $h1;
			position: relative;
			z-index: 1;
		}

		.leftColumn {
			display: flex;
			flex-direction: column;
			gap: 30px;
		}

		.tempWrapper {
			font-size: 1.2rem;
			font-weight: 500;
			text-align: left;

			.root {
				position: relative;
				display: flex;
				align-items: center;
				user-select: none;
				touch-action: none;
				width: 300px;
				height: 50px;
				background: rgb(255, 255, 255);
				padding-inline: 25px;
				padding-block: 40px;
				margin-top: 16px;
				border-radius: 10px;
			}

			.track {
				background-color: $lightPink;
				border: solid 2px $lightYellow;
				position: relative;
				flex-grow: 1;
				border-radius: 9999px;
				height: 25px;
			}

			.range {
				position: absolute;
				background-color: $darkPink;
				border-radius: 9999px;
				height: 100%;
			}

			.thumb {
				display: block;
				width: 30px;
				height: 30px;
				background-color: $darkPink;
				border: solid 2px $mediumYellow;
				box-shadow: 0 2px 5px rgb(96, 95, 95);
				border-radius: 50px;
				&:hover {
					background-color: $darkPink;
				}
				&:focus {
					outline: none;
					box-shadow: 0 0 0 3px $mediumPink;
				}
			}
		}

		.filterSection {
			display: flex;
			flex-direction: column;
			gap: 40px;
			align-items: center;
		}

		.buttonWrapper {
			grid-column: 1 / -1;
			display: flex;
			gap: 20px;
			justify-content: center;
			margin-top: -30px;
		}

		.resetBtn,
		.submitBtn {
			@include button-base;
			font-size: 1.3rem;
			border: none;
			padding-inline: 15px;
			padding-block: 5px;
		}
	}
}

.resultContainer {
	display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 20px;
  justify-content: center;
  margin-bottom: 100px;

	.resultsTitle {
		grid-column: 1 / -1;
		font-size: 1.8rem;
		margin-top: 50px;
	}

  .subText2 {
    grid-column: 1 / -1;
    font-size: 1.2rem;
    justify-self: center;
  }

  .cardsCarousel {
    display: contents;
  }

	a {
    text-decoration: none;
    color: inherit;
  }
}