@import "/src/styles/variables";

.formContainer {
  display: grid;
  grid-template-columns: repeat(5, auto);
  gap: 20px;
  align-items: center;
  margin-inline: 50px;

  .vibesInput,
  .experienceInput {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
}

.root {
	position: relative;
	display: flex;
	align-items: center;
	user-select: none;
	touch-action: none;
	width: 200px;
	height: 20px;
}

.track {
	background-color: rgb(201, 201, 201);
	position: relative;
	flex-grow: 1;
	border-radius: 9999px;
	height: 5px;
}

.range {
	position: absolute;
	background-color: $palmTreeGreen;
	border-radius: 9999px;
	height: 100%;
}

.thumb {
	display: block;
	width: 20px;
	height: 20px;
	background-color: $lightGreen;
	box-shadow: 0 2px 10px lightgray;
	border-radius: 10px;
	&:hover {
		background-color: $darkGreen;
	}
	&:focus {
		outline: none;
		box-shadow: 0 0 0 3px $darkGreen;
	}
}
