@import "/src/styles/variables";
@import "/src/styles/mixins";

.navigationContainer {
  width: 100%;
  background: $footerBlue;
  height: 80px;
  border-bottom: solid 1px rgba($h1, 0.1);

  h1 {
    font-size: 1.7rem;
    justify-self: flex-start;
    padding-top: 25px;
    color: $h1;
    margin-block: 0;
    margin-left: 50px;
    font-family: "Limelight", sans-serif;
  }

  p {
    display: none;
  }

  ul {
    padding: 0;
    list-style: none;
    display: flex;
    gap: 15px;
    justify-content: flex-end;
    margin-top: -30px;
    margin-right: 80px;
    

    a {
      @include button-base;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 6px;
      border-radius: 50%;
      background-color: rgba($darkBlue, 0.9);
    }

    svg {
      height: 25px;
      width: 25px;
    }
  }
}

.navHomeContainer {
  width: 100%;
  background-image: url("/topBackground7.jpg");
  height: 750px;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  position: relative;
  border-bottom: none;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 150px; // Höjden på fade-effekten
    background: linear-gradient(to bottom, transparent, rgb(255, 255, 255));
    pointer-events: none;
  }

  h1 {
    font-size: 6rem;
    justify-self: center;
    margin-left: 0;
  }

  p {
    display: block;
    margin-top: 20px;
    font-size: 1.7rem;
    width: 680px;
    justify-self: center;
    background-color: rgba(172, 213, 243, 0.4);
    border-radius: 10px;
  }

  ul {
    gap: 22px;
    justify-content: center;
    margin-top: 100px;
    margin-right: 0;

    a {
      @include button-base;
      font-size: 1.7rem;
    }
  }
}

@media screen and (max-width: 1024px) {
  .navigationContainer {
    ul {
      margin-right: 50px;
    }
  }

  .navHomeContainer {
    height: 600px;
    
    h1 {
      font-size: 5rem;
    }

    p {
      font-size: 1.6rem;
    }

    ul a {
      font-size: 1.6rem;
    }
  }
}

@media screen and (max-width: 768px) {
  .navigationContainer {
    h1 {
      margin-left: 30px;
      font-size: 1.6rem;
    }

    ul {
      margin-top: -25px;

      svg {
        height: 22px;
        width: 22px;
      }
    }
  }

  .navHomeContainer {
    height: 450px;
    
    h1 {
      font-size: 3.5rem;
    }

    p {
      font-size: 1.4rem;
      width: 560px;
    }

    ul {
      margin-top: 75px;

      a {
        font-size: 1.4rem;
      }
    }
  }
}

@media screen and (max-width: 425px) {
  .navigationContainer {
    height: 120px;

    h1 {
      font-size: 2rem;
      padding-top: 20px;
      margin-left: 0;
      justify-self: center;
    }

    ul {
      margin-right: 20px;
      margin-top: 10px;
    }
  }

  .navHomeContainer {
    height: 290px;

    &::after {
      height: 120px;
    }
  
    
    h1 {
      font-size: 2.5rem;
      padding-top: 30px;
    }

    p {
      display: none;
    }

    ul {
      margin-top: 50px;

      a {
        font-size: 1.4rem;
      }
    }
  }
}

@media screen and (max-width: 375px) {
  .navigationContainer {
    height: 115px;

    h1 {
      font-size: 1.7rem;
    }

    ul {
      margin-right: 15px;
      gap: 10px;
    }
  }

  .navHomeContainer {
    height: 270px;

    h1 {
      font-size: 2rem;
    }
  }
}