@import "/src/styles/variables";
@import "/src/styles/mixins";

.pageWrapper {
  margin-bottom: 80px;

  .destinationContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 70px;
    margin-inline: 50px;
    margin-top: 30px;
    margin-bottom: 70px;
    padding-inline: 40px;
    padding-bottom: 30px;
    border-radius: 20px;
    position: relative;

    h2 {
      grid-column: 1 / -1;
      font-size: 5rem;
      color: $darkBlue;
      margin-top: 30px;
      margin-bottom: 20px;
      justify-self: left;
    }

    .favoriteBtn {
      position: absolute;
      top: 35px;
      right: 35px;
      background: #ffffff;
      border: none;
      border-radius: 50%;
      padding: 8px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
      z-index: 99;

      &:hover {
        background: rgba(255, 255, 255, 1);
      }

      svg {
        width: 32px;
        height: 32px;
      }

      &.isFavorite {
        border: 0.5px solid $h1;
        background: white;

        svg {
          color: $h1;
          fill: $h1
        }
      }
    }

    .countryTempWrapper {
      grid-column: 1 / -1;
      display: flex;
      gap: 20px;
      font-size: 1rem;
      font-weight: 700;
      justify-content: left;
      margin-bottom: 40px;

      .countrySpan {
        display: flex;
        align-items: center;
        background-color: $lightBlue;
        color: $superDarkBlue;
        padding-inline: 20px;
        padding-block: 5px;
        border-radius: 40px;
        gap: 5px;

        svg {
          width: 17px;
          height: 17px;
        }
      }

      .tempSpan {
        @include current-weather-span;
        border-radius: 40px;

        .weatherIcon {
          width: 40px;
          height: auto;
        }
      }
    }

    .textWrapper {
      .aboutDestinationTitle {
        font-size: 1.5rem;
        text-align: left;
        color: $superDarkGreen;
      }

      .pOne,
      .pTwo {
        color: $superDarkBlue;
        text-align: left;
      }

      .pOne {
        font-weight: 500;
        font-size: 1.2rem;
      }

      .pTwo {
        font-size: 1.2rem;
      }

      .readMoreTag {
        display: block;
        font-size: 1rem;
        margin-bottom: 30px;
        text-align: left;
        color: $superDarkBlue;

        a {
          color: $superDarkBlue;
          font-weight: 600;

          &:hover {
            color: $superDarkGreen;
            font-weight: 800;
          }
        }
      }

      .expandButton {
        display: flex;
        background: none;
        border: none;
        color: $superDarkBlue;
        font-size: 1.2rem;
        font-weight: 600;
        cursor: pointer;
        padding: 0;
        padding-top: 10px;
        text-decoration: underline;

        &:hover {
          color: $superDarkGreen;
        }
      }

      .infoBox {
        background-color: rgba($superLightGreen, 0.3);
        border-radius: 10px;
        box-shadow: 3px 3px 10px rgba(135, 135, 135, 0.3);
        margin-top: 50px;
        padding-bottom: 30px;
        padding-top: 20px;
        color: $superDarkGreen;
        text-align: left;
        width: 500px;


        h3 {
          font-size: 1.4rem;
          margin-top: 0;
        }

        h3, 
        span {
          margin-left: 15px;
        }
        
        .infoList {
          margin: 0;
          padding: 0 20px;

          .pair {
            display: flex;
            align-items: center;
            gap: 8px;
            margin-bottom: 10px;

            dt {
              font-size: 1.2rem;
              font-weight: 400;
              display: flex;
              align-items: center;
              gap: 8px;
            }
          
            dd {
              margin: 0;
              font-size: 1.2rem;
              font-weight: 500;
            }
          }        
        }             
  
        hr {
          border: 0.5px solid rgba(39, 42, 43, 0.084);
          width: 200px;
          margin-left: 20px;
          margin-top: 20px;
        }
  
        .tagWrapper {
          margin-top: 20px;
          
          .experienceTitle,
          .vibeTitle {
            font-weight: 500;
            font-size: 1.2rem;
            margin-left: 15px;
          }

          .experienceTags,
          .vibeTags {
            margin-top: 20px;
            margin-left: 20px;
            list-style: none;
            padding: 0;
            display: flex;
            flex-wrap: wrap;
          }

          .experienceTags {  
            .eTag {
              @include experience-tag;
              font-size: 1rem;
              margin-inline: 5px;
            }
          }

          .vibeTitle {
            margin-top: 30px;
          }

          .vibeTags { 
            .vTag {
              @include experience-tag;
              font-size: 1rem;
              margin-inline: 5px;
              color: $darkestPink;
              background: linear-gradient(90deg,
                #f3d4fd 0%,
                #f6d7f8 30%,
                #f8ebfb 100%);
            }
          }
        }
      }
    }

    .rightWrapper {
      flex: 0 0 50%;
      box-shadow: 3px 3px 10px rgba(135, 135, 135, 0.5);
      border: solid 5px white;
      border-radius: 15px;
      background-color: rgba($mediumYellow, 0.7);

      img {
        width: 100%;
        height: auto;
        max-height: 600px;
        object-fit: cover;
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
      }

      .tempContainer {
        width: 100%;
        padding: 20px;
        border-collapse: separate;
        border-spacing: 15px;
      
        caption.monthlyTempTitle {
          caption-side: top;
          font-size: 1.4rem;
          font-weight: 800;
          color: $superDarkGreen;
          margin-top: 20px;
          text-align: center;
        }
      
        tbody {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          gap: 20px;
        }
      
        tr.tempMonthly {
          display: block;
          background-color: rgba($darkYellow, 0.5);
          border-radius: 10px;
          padding: 10px;
          color: $superDarkBlue;
          font-size: 1.1rem;
          font-weight: 500;
        }
      
        th.month,
        td.temp {
          display: inline-block;
          font-weight: 500;
          margin-right: 3px;
        }
      
        td.temp {
          font-weight: 700;
        }
      }
    }
  }

  .backBtn {
    @include button-base;
    font-size: 1.4rem;
    padding: 7px 15px;
  }
}

@media screen and (max-width: 1024px) {
  .pageWrapper {
    .destinationContainer {
      column-gap: 40px;
      margin-inline: 40px;
      padding-inline: 0;
      padding-bottom: 0;

      .rightWrapper {
        .tempContainer {
          width: 380px;
          tbody {
            grid-template-columns: repeat(2, 1fr);
          }
      
          caption.monthlyTempTitle {
            margin-inline: 20px;
            font-size: 1.3rem;
          }
      
          tr.tempMonthly {
            font-size: 1rem;
            padding: 7px;
      
            th.month,
            td.temp {
              font-size: 1rem;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .pageWrapper {
    .destinationContainer {
      grid-template-columns: 1fr;
      margin-inline: 28px;
      padding-inline: 28px;

      .favoriteBtn {
        top: 20px;
        right: 20px;

        svg {
          width: 30px;
          height: 30px;
        }
      }

      .countryTempWrapper {
        order: 1;
      }

      .textWrapper {
        order: 3;

        .aboutDestinationTitle {
          margin-top: 50px;
        }
      }

      .rightWrapper {
        order: 2;

        img {
          max-height: 400px;
        }

        .tempContainer {
          width: 650px;
          padding-inline: 5px;

          tbody {
            grid-template-columns: repeat(4, 1fr);
            gap: 10px;
          }
        }
      }
    }

    .backBtn {
      font-size: 1.2rem;
    }
  }
}

@media screen and (max-width: 425px) {
  .pageWrapper {
    .destinationContainer {
      margin-inline: 30px;
      padding-inline: 0;
      padding-bottom: 15px;
      margin-top: 15px;

      h2 {
        font-size: 2.7rem;
        margin-top: 40px;
      }

      .favoriteBtn {
        top: 5px;
        right: 5px;

        svg {
          width: 20px;
          height: 20px;
        }
      }

      .countryTempWrapper {
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
      }

      .textWrapper {
        .pOne {
          font-size: 1.2rem;
        }

        .pTwo {
          font-size: 1rem;
        }

        .expandButton {
          font-size: 1rem;
        }

        .infoBox {
          width: 100%;

          .infoList {
            .pair {
              dt,
              dd {
                font-size: 1rem;
              }
            }
          }
    
          h3 {
            font-size: 1.2rem;
          }

          .tagWrapper {
            .experienceTitle,
            .vibeTitle {
              font-size: 1.1rem;
            }
  
            .experienceTags,
            .vibeTags {
              margin-left: 10px;
            }
  
            .experienceTags {  
              .eTag {
                font-size: 0.9rem;
                margin-inline: 2px;
              }
            }
  
            .vibeTags { 
              .vTag {
                font-size: 0.9rem;
                margin-inline: 2px;
              }
            }
          }
        }
      }

      .rightWrapper {
        img {
          max-height: 400px;
        }

        .tempContainer {
          width: 325px;
          padding-inline: 0;
          justify-self: center;

          caption.monthlyTempTitle {
            font-size: 1.2rem;
          }

          tbody {
            grid-template-columns: repeat(2, 1fr);
          }
        }
      }
    }

    .backBtn {
      font-size: 1.2rem;
    }
  }
}

@media screen and (max-width: 375px) {
  .pageWrapper {
    .destinationContainer {
      margin-inline: 10px;
      padding-bottom: 0;
      padding-inline: 13px;
    }
  }
}