@import "/src/styles/variables";
@import "/src/styles/mixins";

.pageWrapper {
  margin-bottom: 80px;

  .goBackTextTop {
    display: flex;
    justify-self: left;
    align-items: center;
    margin-left: 40px;
    margin-top: 30px;
    margin-bottom: 0;
    color: $h1;
    font-size: 1rem;

    svg {
      width: 20px;
      height: 20px;
    }
  }

  .destinationContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 70px;
    margin-inline: 50px;
    margin-top: 30px;
    margin-bottom: 70px;
    background-color: white;
    box-shadow: 3px 3px 10px rgba(135, 135, 135, 0.5);
    padding-inline: 40px;
    padding-bottom: 30px;
    border-radius: 20px;
    position: relative;

    .favoriteBtn {
      position: absolute;
      top: 35px;
      right: 35px;
      background: rgba(239, 239, 239, 0.9);
      border: none;
      border-radius: 50%;
      padding: 8px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
      z-index: 99;

      &:hover {
        background: rgba(255, 255, 255, 1);
      }

      svg {
        width: 35px;
        height: 35px;
      }

      &.isFavorite {
        border: 0.5px solid $h1;

        svg {
          color: $h1;
          fill: $h1;
        }
      }
    }

    h2 {
      grid-column: 1 / -1;
      font-size: 5rem;
      color: $darkBlue;
      margin-top: 30px;
      margin-bottom: 20px;
      justify-self: left;
    }

    .countryTempWrapper {
      grid-column: 1 / -1;
      display: flex;
      gap: 20px;
      font-size: 1rem;
      font-weight: 700;
      justify-content: left;
      margin-bottom: 40px;

      .countrySpan {
        display: flex;
        align-items: center;
        background-color: $lightBlue;
        color: $superDarkBlue;
        padding-inline: 20px;
        padding-block: 5px;
        border-radius: 40px;
        gap: 5px;

        svg {
          width: 17px;
          height: 17px;
        }
      }

      .tempSpan {
        @include current-weather-span;
        border-radius: 40px;

        .weatherIcon {
          width: 40px;
          height: auto;
        }
      }
    }

    .textWrapper {

      .pOne,
      .pTwo {
        color: $superDarkBlue;
        text-align: left;
      }

      .pOne {
        font-weight: 500;
        font-size: 1.4rem;
      }

      .pTwo {
        font-size: 1.2rem;
      }

      .readMoreTag {
        display: block;
        font-size: 1rem;
        margin-bottom: 30px;
        text-align: left;
        color: $superDarkBlue;

        a {
          color: $superDarkBlue;
          font-weight: 600;

          &:hover {
            color: $superDarkBlue2;
            font-weight: 800;
          }
        }
      }

      .expandButton {
        display: flex;
        background: none;
        border: none;
        color: $superDarkBlue;
        font-size: 1.2rem;
        font-weight: 600;
        cursor: pointer;
        padding: 0;
        padding-top: 10px;
        text-decoration: underline;

        &:hover {
          color: $superDarkBlue2;
        }
      }

      .tempContainer {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        background-color: $mediumYellow;
        margin-top: 55px;
        margin-bottom: 40px;
        padding-block: 30px;
        padding-inline: 30px;
        border-radius: 15px;
        box-shadow: 3px 3px 10px rgba(135, 135, 135, 0.5);

        .monthlyTempTitle {
          grid-column: 1 / -1;
          font-size: 1.4rem;
          font-weight: 800;
          color: $superDarkBlue;
          margin-bottom: 15px;
        }

        .tempMonthly {
          background-color: $lightYellow;
          padding: 10px;
          font-weight: 500;
          color: $superDarkBlue;
          font-size: 1.1rem;
          border-radius: 40px;

          .temp {
            font-weight: 700;
          }
        }
      }
    }

    .rightWrapper {
      flex: 0 0 50%;

      img {
        width: 100%;
        height: auto;
        max-height: 600px;
        object-fit: cover;
        box-shadow: 3px 3px 10px rgba(135, 135, 135, 0.5);
        border-radius: 40px;
      }

      .experienceTags {
        margin-top: 30px;
        padding-inline: 30px;

        .tag {
          @include experience-tag;
          font-size: 1rem;
        }
      }
    }
  }

  .backBtn {
    @include button-base;
    font-size: 1.4rem;
    padding-inline: 10px;
    padding-block: 5px;
  }
}

@media screen and (max-width: 1024px) {
  .pageWrapper {
    .destinationContainer {
      column-gap: 30px;

      .textWrapper {
        .tempContainer {
          padding-inline: 10px;
          gap: 10px;
          width: 440px;

          .tempMonthly {
            font-size: 1rem;
            padding: 5px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .pageWrapper {
    .destinationContainer {
      grid-template-columns: 1fr;
      margin-inline: 30px;
      padding-inline: 30px;

      .countryTempWrapper {
        order: 1;
      }

      .rightWrapper {
        order: 2;

        img {
          max-height: 400px;
          margin-bottom: 20px;
        }

        .experienceTags {
          display: none;
        }
      }

      .textWrapper {
        order: 3;

        .tempContainer {
          justify-self: center;
          padding-inline: 30px;
          gap: 20px;
          width: 600px;

          .tempMonthly {
            font-size: 1.1rem;
            padding: 10px;
          }
        }
      }
    }

    .backBtn {
      font-size: 1.2rem;
    }
  }
}

@media screen and (max-width: 425px) {
  .pageWrapper {
    .destinationContainer {
      margin-inline: 20px;
      padding-inline: 20px;
      padding-bottom: 15px;

      h2 {
        font-size: 3rem;
      }

      .countryTempWrapper {
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
      }

      .rightWrapper {
        img {
          max-height: 400px;
        }
      }

      .textWrapper {
        .pOne {
          font-size: 1.2rem;
        }

        .pTwo {
          font-size: 1rem;
        }

        .expandButton {
          font-size: 1rem;
        }

        .tempContainer {
          grid-template-columns: repeat(2, 1fr);
          margin-inline: 0;
          padding-inline: 10px;
          gap: 10px;
          width: 325px;

          .monthlyTempTitle {
            font-size: 1.2rem;
            margin-inline: 20px;
          }

          .tempMonthly {
            font-size: 1rem;
            padding: 10px;
          }
        }
      }
    }

    .backBtn {
      font-size: 1.2rem;
    }
  }
}

@media screen and (max-width: 375px) {
  .pageWrapper {
    .destinationContainer {
      margin-inline: 10px;
      padding-bottom: 0;
      padding-inline: 13px;
    }
  }
}