@import "/src/styles/variables";

.destinationContainer {
  display: flex;
  gap: 2rem;
  margin-inline: 30px;
  margin-block: 50px;

  .destinationWrapper {
    flex: 1;
  }

  .imgWrapper {
    flex: 0 0 50%;
  }

  h2 {
    font-size: 5rem;
    //font-family: "Limelight", sans-serif;;
    margin-bottom: 10px;
  }

  img {
    width: 50vw;
    height: auto;
    //display: flex;
    //justify-self: flex-end;
    box-shadow: 3px 3px 10px rgba(135, 135, 135, 0.5);
    border-radius: 40px;
  }

  .tempContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    background-color: $superLightYellow;
    margin-top: 20px;
    padding-top: 10px;

    .monthlyTempTitle {
      grid-column: 1 / -1;
      font-size: 1.1rem;
      font-weight: 500;
    }
    
    .tempMonthly {
      border: solid 5px $lightYellow;
      padding: 10px;
    }
  }
}