@import "/src/styles/variables";
@import "/src/styles/mixins";

.errorSection {
  h2 {
    margin-top: 50px;
  }

  p {
    font-size: 1rem;
    margin-bottom: 50px;
    width: 500px;
    justify-self: center;
  }

  .buttonWrapper {
    display: flex;
    justify-content: center;
    gap: 10px;

    .backLink {
      @include button-base;
      font-size: 1.2rem;
      padding: 5px 10px;
    }
  }
}

@media screen and (max-width: 425px) {
  .errorSection {
    p {
      width: 300px;
    }

    .backLink {
      font-size: 1rem;
    }
  }
}
