@import "/src/styles/variables";
@import "/src/styles/mixins";

.articleContainer {
  background-color: rgb(255, 255, 255);
  text-align: left;
  border-radius: 20px;
  overflow: hidden;
  width: 390px;
  box-shadow: 3px 3px 10px rgba(135, 135, 135, 0.5);
  display: flex;
  flex-direction: column;
  height: 100%;

  img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    flex-shrink: 0;
  }

  h3,
  p,
  .countrySpan,
  .tempSpan {
    margin-inline: 30px;
  }

  h3 {
    margin-top: 20px;
    margin-bottom: 0;
    font-size: 1.3rem;
    font-weight: 500;
    flex-shrink: 0;
  }

  .countryWeatherContainer {
    display: flex;
    flex-shrink: 0;

    .countrySpan,
    .avgTempSpan {
      display: flex;
      align-items: center;
      font-size: 0.9rem;
      margin-top: 15px;
      font-weight: 600;
    }

    svg {
      width: 17px;
      height: 17px;
    }

    .countrySpan {
      color: $darkBlue;
      gap: 5px;
    }

    .avgTempSpan {
      color: $superDarkYellow;
      gap: 2px;
    }
  }

  p {
    margin-bottom: 45px;
    margin-top: 27px;
    font-size: 1.1rem;
    flex: 1;
  }

  .scoreWrapper {
    margin-bottom: 20px;
    padding-inline: 30px;
    flex-shrink: 0;

    .scoreSpan {
      font-size: 1rem;
      font-weight: 500;
      color: $superDarkGreen;
      margin-right: 20px;
      padding: 0.25rem 0.75rem;
      border-radius: 20px;
      box-shadow: inset 0 0 0 2px rgba(192, 255, 216, 0.1);
      background: linear-gradient(90deg, $tagLight 0%, $tagMedium 30%, $tagDark 100%);
    }
  }

  .tempSpan {
    @include current-weather-span;
    font-size: 0.9rem;
    margin-top: 15px;
    margin-top: 35px;
    margin-bottom: 25px;
    width: fit-content;
    flex-shrink: 0;

    .weatherIcon {
      width: 35px;
      height: auto;
    }
  }
}

@media screen and (max-width: 1024px) {
  .articleContainer {
    width: 300px;

    img {
      height: 180px;
    }

    h3,
    p,
    .countrySpan,
    .tempSpan {
      margin-inline: 20px;
    }

    .experienceTags {
      padding-inline: 20px;

      .tag {
        margin-right: 10px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .articleContainer {
    h3 {
      font-size: 1.1rem;
    }

    p {
      font-size: 1rem;
    }
  }
}

@media screen and (max-width: 425px) {
  .articleContainer {
    width: 80vw;
    max-width: 300px;
  }
}

@media screen and (max-width: 375px) {
  .articleContainer {
    width: 280px;

    img {
      height: 150px;
    }

    p {
      margin-bottom: 30px;
    }

    .experienceTags {
      display: none;
    }
  }
}