@import "./variables";

@mixin button-base {
  color: $mediumYellow;
  background-color: rgba($darkBlue, 0.8);
  padding: 3px 7px;
  border-radius: 10px;
  transition: background-color 0.2s ease;
  box-shadow: 3px 3px 10px rgba(135, 135, 135, 0.5);

  &:hover {
    color: $darkGreen;
    background-color: $lightGreen;
  }
}