@import "./variables";

@mixin button-base {
  color: $lightYellow;
  background-color: rgba($darkBlue, 0.8);
  padding: 3px 7px;
  border-radius: 10px;
  transition: background-color 0.2s ease;
  box-shadow: 3px 3px 10px rgba(135, 135, 135, 0.5);

  &:hover {
    color: $darkGreen;
    background-color: $lightGreen;
  }
}

@mixin current-weather-span {
  display: flex;
  align-items: center;
  font-weight: 700;
  color: $lightYellow;
  border-radius: 10px;
  padding-inline: 20px;
  box-shadow: inset 0 0 0 2px rgba(192, 255, 216, 0.1);
  background: linear-gradient(90deg,
    #de9acb 0%,
    #f5b4e2 50%,
    #efafdf 100%
  );
}

@mixin experience-tag {
  font-size: 0.875rem;
  font-weight: 500;
  color: $darkGreen;
  margin-right: 20px;
  padding: 0.25rem 0.75rem;
  border-radius: 20px;
  box-shadow: inset 0 0 0 2px rgba(192, 255, 216, 0.1);
  background: linear-gradient(90deg,
    #c8f6de 0%,
    #d1fae5 30%,
    #e2fbef 100%
  );
}