$superLightBlue: #f0fffe;
$lightBlue: #B7E1DD;
$mediumBlue: #8DC2BD;
$darkBlue: #5D918C;
$superDarkBlue: #486f6b;
$superDarkBlue1: #3E605C;

$superLightGreen: #E2F3DD;
$lightGreen: #B9D0B2;
$mediumGreen: #90B494;
$darkGreen: #3B7750;
$superDarkGreen: #265537;

$superLightPink: #FFE9F8;
$lightPink: #F7C1E7;
$mediumPink: #DE9ACA;
$darkPink: #B673A2;
$superDarkPink: #AD5893;

$superLightYellow: #FFFBE7;
$lightYellow: #fbf1c4;
$mediumYellow: #ffe48d;
$darkYellow: #fad763;
$superDarkYellow: #d4a715;

$tagLight: #c8f6de;
$tagMedium: #d1fae5;
$tagDark: #c8f6de;

$textPrimary: #393535;
$palmTreeGreen: #0E8E35;
$footerBlue: #edf7fc;
$h1: #484545;
$mapTextBlue: #0A7DA4;
$backgroundBlue: #d7ecf3;