$superLightBlue: #DDF3F1;
$lightBlue: #B7E1DD;
$mediumBlue: #8DC2BD;
$darkBlue: #5D918C;
$superDarkBlue: #486f6b;

$superLightGreen: #E2F3DD;
$lightGreen: #B9D0B2;
$mediumGreen: #90B494;
$darkGreen: #3B7750;

$superLightPink: #FFE9F8;
$lightPink: #F7C1E7;
$mediumPink: #DE9ACA;
$darkPink: #B673A2;

$superLightYellow: #FFFBE7;
$lightYellow: #FFF7D2;
$mediumYellow: #F6EDC7;
$darkYellow: #A9A716;

$textPrimary: #393535;
$palmTreeGreen: #0E8E35;
$footerBlue: #edf7fc;
$h1: #484545;