.articleContainer {
  background-color: rgb(255, 255, 255);
  text-align: left;
  border-radius: 10px;
  overflow: hidden;
  width: 300px;
  border: solid 1px rgb(247, 247, 247);

  h3, p {
    padding-left: 20px;
  }

  p {
    margin-bottom: 20px;
  }
}