.articleContainer {
  background-color: rgb(255, 255, 255);
  text-align: left;
  border-radius: 10px;
  overflow: hidden;
  width: 320px;
  border: solid 1px rgb(247, 247, 247);

  h3, p {
    margin-inline: 20px;
  }

  h3 {
    margin-block: 35px;
    font-size: 1.3rem;
    font-weight: 500;
  }

  p {
    margin-bottom: 30px;
    font-size: 1.1rem;
  }

  @media screen and (max-width: 1024px) {
    width: 260px;
  }

  @media screen and (max-width: 768px) {
    width: 220px;

    h3 {
      font-size: 1.2rem;
    }

    p {
      font-size: 1rem;
    }
  }

  @media screen and (max-width: 425px) {
    width: 80vw;
    max-width: 280px;
  }

  @media screen and (max-width: 375px) {
    width: 220px;
  }
}