nav {
  width: 100%;
  background-image: url("topBackground7.jpg");
  height: 600px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 150px; // Höjden på fade-effekten
    background: linear-gradient(to bottom, transparent, rgb(255, 255, 255));
    pointer-events: none;
  }

  h1 {
    font-size: 6rem;
    justify-self: center;
    padding-top: 100px;
    color: rgb(42, 40, 40);
    margin-bottom: 0;
    margin-top: 0;
    font-family: "Limelight", sans-serif;
  }

  ul {
    padding: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-right: 20px;
    padding-bottom: 5px;
    margin-bottom: 3px;

    a {
      text-decoration: none;
      color: rgb(0, 0, 0);
      font-size: 2rem;
    }

    a:hover {
      font-weight: 900;
      color: black;
    }
  }
}
