@import "/src/styles/variables";

.navigationContainer {
  width: 100%;
  background-image: url("/topBackground7.jpg");
  height: 750px;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 150px; // Höjden på fade-effekten
    background: linear-gradient(to bottom, transparent, rgb(255, 255, 255));
    pointer-events: none;
  }

  h1 {
    font-size: 6rem;
    justify-self: center;
    padding-top: 50px;
    color: $textPrimary;
    margin-bottom: 0;
    margin-top: 0;
    font-family: "Limelight", sans-serif;
  }

  p {
    margin-top: 20px;
    font-size: 1.7rem;
    width: 700px;
    justify-self: center;
  }

  ul {
    padding: 0;
    list-style: none;
    display: flex;
    gap: 2rem;
    justify-content: center;
    margin-top: 100px;

    a {
      text-decoration: none;
      color: $textPrimary;
      font-size: 1.7rem;
      background-color: $lightGreen;
      padding: 3px 7px;
      border-radius: 10px;
    }

    a:hover {
      font-weight: 900;
      color: $textPrimary;
    }
  }

  @media screen and (max-width: 1024px) {
    height: 600px;
    
    h1 {
      font-size: 5rem;
    }

    p {
      font-size: 1.6rem;
    }

    ul a {
      font-size: 1.6rem;
    }
  }

  @media screen and (max-width: 768px) {
    height: 500px;
    
    h1 {
      font-size: 3.5rem;
    }

    p {
      font-size: 1.4rem;
      width: 500px;
    }

    ul a {
      font-size: 1.4rem;
    }
  }

  @media screen and (max-width: 425px) {
    height: 400px;
    
    h1 {
      font-size: 1.8rem;
    }

    p {
      font-size: 1rem;
      width: 280px;
    }

    ul {
      margin-top: 70px;
      a {
        font-size: 1.2rem;
      }
    }
  }
}
