nav {
  width: 100%;
  background-color: lavenderblush;
  
  h1 {
    font-size: 3rem;
    justify-self: center;
    padding-top: 10px;
    color: purple;
    margin-bottom: 0;
    margin-top: 0;
    //font-family: "Fascinate", system-ui, sans-serif;
  }

  ul {
    padding: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
    justify-content: right;
    margin-right: 20px;
    padding-bottom: 5px;
    margin-bottom: 3px;

    a {
      text-decoration: none;
      color: black;
      font-size: 1rem;
    }

    a:hover {
      font-weight: 900;
      color: black;
    }
  }
}
