@import "/src/styles/variables";

.navigationContainer {
  width: 100%;
  background-image: url("/header2.jpeg");
  height: 140px;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;

  h1 {
    font-size: 3.3rem;
    justify-self: flex-start;
    padding-top: 40px;
    color: $textPrimary;
    margin-block: 0;
    margin-left: 70px;
    font-family: "Limelight", sans-serif;
  }

  p {
    display: none;
  }

  ul {
    padding: 0;
    list-style: none;
    display: flex;
    gap: 15px;
    justify-content: flex-end;
    margin-top: -20px;
    margin-right: 90px;

    a {
      text-decoration: none;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgba($lightGreen, 0.75);
      padding: 6px;
      border-radius: 50%;
      transition: background-color 0.2s ease;
    }

    a:hover {
      background-color: $lightGreen;
    }

    svg {
      color: $textPrimary;
      height: 30px;
      width: 30px;

      &:hover {
        color: $darkGreen;
      }
    }
  }

  @media screen and (max-width: 1024px) {
    h1 {
      margin-left: 50px;
      font-size: 3rem;
    }

    ul {
      margin-right: 50px;
    }
  }

  @media screen and (max-width: 768px) {
    height: 90px;

    h1 {
      font-size: 2rem;
      padding-top: 30px;
      margin-left: 30px;
    }

    ul {
      margin-top: -15px;

      svg {
        height: 24px;
        width: 24px;
      }
    }
  }

  @media screen and (max-width: 425px) {
    height: 120px;
    background-image: url("/header.jpg");

    h1 {
      font-size: 2.1rem;
      padding-top: 20px;
      margin-left: 0;
      justify-self: center;
    }

    ul {
      margin-right: 20px;
      margin-top: 10px;
    }
  }

  @media screen and (max-width: 375px) {
    height: 95px;

    h1 {
      font-size: 1.7rem;
    }

    ul {
      margin-right: 15px;
      gap: 5px;
  
      a {
        font-size: 1rem;
      }
    }
  }
}

.navHomeContainer {
  background-image: url("/topBackground7.jpg");
  height: 750px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 150px; // Höjden på fade-effekten
    background: linear-gradient(to bottom, transparent, rgb(255, 255, 255));
    pointer-events: none;
  }

  h1 {
    font-size: 6rem;
    justify-self: center;
    margin-left: 0;
  }

  p {
    display: block;
    margin-top: 20px;
    font-size: 1.7rem;
    width: 700px;
    justify-self: center;
  }

  ul {
    gap: 22px;
    justify-content: center;
    margin-top: 100px;
    margin-right: 0;

    a {
      font-size: 1.7rem;
      color: $textPrimary;
      background-color: rgba($lightGreen, 0.7);
      padding: 3px 7px;
      border-radius: 10px;

      &:hover {
        font-weight: 600;
      }
    }
  }

  @media screen and (max-width: 1024px) {
    height: 600px;
    
    h1 {
      font-size: 5rem;
    }

    p {
      font-size: 1.6rem;
    }

    ul a {
      font-size: 1.6rem;
      background-color: rgba($lightGreen, 0.7);
    }
  }

  @media screen and (max-width: 768px) {
    height: 450px;
    
    h1 {
      font-size: 3.5rem;
    }

    p {
      font-size: 1.4rem;
      width: 500px;
    }

    ul a {
      font-size: 1.4rem;
    }
  }

  @media screen and (max-width: 425px) {
    height: 280px;

    &::after {
      height: 100px;
    }
  
    
    h1 {
      font-size: 2.5rem;
    }

    p {
      display: none;
    }

    ul {
      margin-top: 70px;

      a {
        font-size: 1.4rem;
      }
    }
  }

  @media screen and (max-width: 375px) {
    height: 270px;

    h1 {
      font-size: 2rem;
    }
  }
}
