@import "/src/styles/variables";

.mapContainer {
  width: 100%;
  margin-top: 20px;
  grid-column: 1 / -1;
  position: relative;
  max-width: 100%;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.map {
  height: 600px;
  width: 1100px;
  border-radius: 10px;
  z-index: 0;
}

.popupLink {
  text-decoration: none;

  a {
    color: $mapTextBlue;
    font-size: 1rem;

    &:hover {
      text-decoration: underline;
      color: $darkGreen;
    }
  }
}

@media screen and (max-width: 1024px) {
  .map {
    height: 500px;
    width: 800px;
  }
}

@media screen and (max-width: 768px) {
  .map {
    height: 400px;
    width: 600px;
  }
}

@media screen and (max-width: 425px) {
  .map {
    width: 350px;
  }
}