.articleContainer {
  background-color: rgb(255, 255, 255);
  text-align: left;
  border-radius: 10px;
  overflow: hidden;
  width: 300px;
  border: solid 1px rgb(236, 236, 236);

  img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  h3, p {
    padding-left: 20px;
  }

  p {
    margin-bottom: 20px;
  }
}