@import "/src/styles/variables";

.articleContainer {
  background-color: rgb(255, 255, 255);
  text-align: left;
  border-radius: 20px;
  overflow: hidden;
  width: 380px;
  box-shadow: 3px 3px 10px rgba(135, 135, 135, 0.5);

  img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  h3, 
  p, 
  .countrySpan,
  .tempSpan {
    margin-inline: 30px;
  }

  h3 {
    margin-top: 20px;
    margin-bottom: 0;
    font-size: 1.3rem;
    font-weight: 500;
  }

  .countryWeatherContainer {
    display: flex;

    .countrySpan, 
    .avgTempSpan {
      display: flex;
      align-items: center;
      font-size: 0.9rem;
      margin-top: 15px;
      font-weight: 600;
    }

    svg {
      width: 17px;
      height: 17px;
    }
    
    .countrySpan {
      color: $darkBlue;
      gap: 5px;
    }

    .avgTempSpan {
      color: $darkYellow;
      gap: 2px;
    }
  }

  p {
    margin-bottom: 45px;
    margin-top: 27px;
    font-size: 1.1rem;
  }

  .experienceTags {
    margin-bottom: 20px;
    padding-inline: 30px;

    .tag {
      font-size: 0.875rem;
      font-weight: 500;
      color: $darkGreen;
      margin-right: 20px;
      padding: 0.25rem 0.75rem;
      border-radius: 20px;
      box-shadow: inset 0 0 0 2px rgba(192, 255, 216, 0.1);
      background: linear-gradient(90deg,
        #c8f6de 0%,
        #d1fae5 30%,
        #e2fbef 100%
      );
    }
  }

  .tempSpan {
    display: flex;
    align-items: center;
    font-size: 0.9rem;
    margin-top: 15px;
    font-weight: 600;
    color: $lightYellow;
    margin-top: 35px;
    margin-bottom: 25px;
    border-radius: 10px;
    padding-inline: 20px;
    width: fit-content;
    box-shadow: inset 0 0 0 2px rgba(192, 255, 216, 0.1);
    background: linear-gradient(90deg,
      #de9acb 0%,
      #f5b4e2 50%,
      #efafdf 100%
    );

    .weatherIcon {
      width: 35px;
      height: auto;
    }
  }

  @media screen and (max-width: 1024px) {
    width: 280px;
  }

  @media screen and (max-width: 768px) {
    width: 220px;

    img {
      height: 150px;
    }

    h3 {
      font-size: 1.1rem;
    }

    p {
      font-size: 1rem;
    }
  }

  @media screen and (max-width: 425px) {
    width: 80vw;
    max-width: 300px;
  }

  @media screen and (max-width: 375px) {
    width: 220px;
  }
}