.articleContainer {
  background-color: rgb(255, 255, 255);
  text-align: left;
  border-radius: 20px;
  overflow: hidden;
  width: 370px;
  border: solid 1px rgb(236, 236, 236);

  img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  h3, p {
    margin-inline: 20px;
  }

  h3 {
    margin-block: 35px;
    font-size: 1.3rem;
    font-weight: 500;
  }

  p {
    margin-bottom: 20px;
    font-size: 1.1rem;
  }

  @media screen and (max-width: 1024px) {
    width: 280px;
  }

  @media screen and (max-width: 768px) {
    width: 220px;

    img {
      height: 150px;
    }

    h3 {
      font-size: 1.1rem;
    }

    p {
      font-size: 1rem;
    }
  }

  @media screen and (max-width: 425px) {
    width: 80vw;
    max-width: 300px;
  }

  @media screen and (max-width: 375px) {
    width: 220px;
  }
}