.howItWorksContainer {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 20px;
  justify-content: center;
  margin-block: 50px;
  padding-bottom: 50px;
  background: linear-gradient(
    to bottom,
    transparent 0%,
    rgb(250, 251, 252) 50%
  );

  h2 {
    grid-column: 1 / -1;
  }

  p {
    grid-column: 1 / -1;
  }

  .iconWrapper {
    display: flex;
    justify-content: flex-start;
    padding: 12px 20px;
    border-radius: 15px;
    margin-top: 30px;
    margin-inline: 20px;
  }

  .thermometerWrapper {
    @extend .iconWrapper;
    background-color: rgb(253, 224, 237);
  }

  .palmTreeWrapper {
    @extend .iconWrapper;
    background-color: rgb(226, 243, 221);
  }

  .sparklesWrapper {
    @extend .iconWrapper;
    background-color: rgb(247, 245, 208);
  }

  .iconSize {
    width: 30px;
    height: 30px;
  }

  .thermometerIcon {
    @extend .iconSize;
    color: rgb(213, 46, 82);
  }

  .palmTreeIcon {
    @extend .iconSize;
    color: rgb(14, 142, 53);
  }

  .sparklesIcon {
    @extend .iconSize;
    color: rgb(169, 167, 22);
  }

  .finalPunchArticle {
    background-color: rgb(226, 243, 221);
    width: 500px;
    grid-column: 1 / -1;
    border-radius: 10px;
    justify-self: center;
    margin-top: 30px;
  }
}

.featuredDestinationContainer {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 20px;
  justify-content: center;
  margin-bottom: 100px;

  h2 {
    grid-column: 1 / -1;
  }

  p {
    grid-column: 1 / -1;
  }
}