@import "/src/styles/variables";

.footerContainer {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 150px;
  background-color: $footerBlue;
  padding-block: 30px;
  text-align: left;

  .logoSection {
    margin-left: 80px;
    margin-top: 40px;

    hr {
      display: none;
    }
  }

  h2 {
    font-size: 1.4rem;
    margin-top: 0;
  }

  a {
    display: block;
    margin-bottom: 10px;
    font-size: 1rem;
    color: black;
  }

  @media screen and (max-width: 768px) {
    gap: 80px;
    
    .logoSection {
      margin-left: 50px;
    }

    h2 {
      font-size: 1.2rem;
    }
  }

  @media screen and (max-width: 425px) {
    gap: 20px;

    .logoSection {
      grid-column: 1 / -1;
      margin: 0;
      justify-self: center;

      hr {
        display: block;
        border: 0.5px solid rgba(39, 42, 43, 0.084);
        margin-top: 10px;
        width: 80vw;
        margin-left: calc(-40vw + 50%);
      }
    }
      
    .navContainer {
      margin-left: 30px;
      margin-top: 0;
    }
  }
}