*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  text-decoration: none;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

main {
  flex: 1;
}
