@import "/src/styles/variables";
@import "/src/styles/mixins";

.howItWorksContainer {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 20px;
  justify-content: center;
  margin-block: 50px;
  padding-bottom: 70px;
  background: linear-gradient(to bottom, transparent 0%, rgba($superLightBlue2, 40%));
  font-size: 1rem;
  

  h2 {
    grid-column: 1 / -1;
    font-size: 2.5rem;
    margin-bottom: 0;
    font-weight: 600;
  }

  .subText {
    grid-column: 1 / -1;
    font-size: 1.2rem;
    width: 800px;
    justify-self: center;
    margin-bottom: 50px;
  }

  .cardsCarousel {
    display: contents;
  }

  .finalPunchArticle {
    background-color:rgba($superLightGreen, 0.5);
    width: 650px;
    grid-column: 1 / -1;
    justify-self: center;
    margin-top: 60px;
    padding: 25px;
    font-size: 1.3rem;
    border-radius: 10px;
    box-shadow: inset 0 0 0 3px rgba($lightGreen, 0.03);

    h4 {
      font-size: 1.4rem;
      margin-top: 10px;
      margin-bottom: 0;
      font-weight: 600;
    }

    p {
      margin-bottom: 30px;
    }

    a {
      @include button-base;
      font-size: 1.2rem;
      padding: 5px 10px;
    }
  }
}

.featuredDestinationContainer {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 20px;
  justify-content: center;
  margin-bottom: 100px;

  h2 {
    grid-column: 1 / -1;
    font-size: 2.5rem;
    margin-block: 0;
    font-weight: 600;
  }

  .subText2 {
    grid-column: 1 / -1;
    font-size: 1.2rem;
    justify-self: center;
  }

  .cardsCarousel {
    display: contents;

    a {
      text-decoration: none;
      color: inherit;
    }
  }
}

@media screen and (max-width: 768px) {
  .howItWorksContainer {
    margin-block: 40px;

    h2 {
      font-size: 2.1rem;
    }
    
    .subText {
      width: 600px;
      margin-bottom: 30px;
      margin-top: 0;
    }

    .finalPunchArticle {
      width: 560px;
      padding-top: 20px;
      padding-bottom: 30px;
      font-size: 1.15rem;
      margin-top: 40px;

      h4 {
        font-size: 1.3rem;
      }
    }
  }

  .featuredDestinationContainer {
    h2 {
      font-size: 2.1rem;
    }

    .subText2 {
      margin-top: 0;
    }
  }
}

@media screen and (max-width: 768px) and (min-width: 426px) {
  .featuredDestinationContainer {
    .cardsCarousel {
      > *:nth-child(3) {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 425px) {
  .howItWorksContainer {
    grid-template-columns: 1fr;
    margin-bottom: 35px;
    padding-bottom: 55px;

    h2 {
      font-size: 1.7rem;
    }
  
    .subText {
      width: 380px;
      margin-top: 0;
    }
    
    .finalPunchArticle {
      width: 360px;
      font-size: 1.1rem;

      h4 {
        font-size: 1.2rem;
      }
    }
  }

  .featuredDestinationContainer {
    grid-template-columns: 1fr;

    h2 {
      font-size: 1.7rem;
    }
  
    .subText2 {
      width: 380px;
      margin-top: 0;
    }
  }
}

@media screen and (max-width: 375px) {
  .howItWorksContainer {
    h2 {
      font-size: 1.7rem;
    }
    
    .subText {
      width: 280px;
      font-size: 1.1rem;
    }
    
    .finalPunchArticle {
      width: 280px;
      font-size: 1rem;

      h4 {
        font-size: 1.1rem;
      }
    }
  }
  
  .featuredDestinationContainer {
    h2 {
      font-size: 1.7rem;
    }
    
    .subText2 {
      width: 280px;
      font-size: 1.1rem;
    }
  }
}