@import "/src/styles/variables";
@import "/src/styles/mixins";

.howItWorksContainer {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 20px;
  justify-content: center;
  margin-block: 50px;
  padding-bottom: 70px;
  background: linear-gradient(to bottom, transparent 0%, rgba($backgroundBlue, 40%));
  font-size: 1rem;


  h2 {
    grid-column: 1 / -1;
    font-size: 2.5rem;
    margin-bottom: 0;
    font-weight: 600;
  }

  .subText {
    grid-column: 1 / -1;
    font-size: 1.2rem;
    width: 800px;
    justify-self: center;
    margin-bottom: 50px;
  }

  .cardsCarousel {
    display: contents;
  }

  a {
    @include button-base;
    font-size: 1.5rem;
    padding: 8px 30px;
    grid-column: 1 / -1;
    justify-self: center;
    margin-top: 60px;
    margin-bottom: 40px;
  }
}

.featuredDestinationContainer {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 20px;
  justify-content: center;
  margin-bottom: 100px;

  h2 {
    grid-column: 1 / -1;
    font-size: 2.5rem;
    margin-block: 0;
    font-weight: 600;
  }

  .subText2 {
    grid-column: 1 / -1;
    font-size: 1.2rem;
    justify-self: center;
    margin-bottom: 40px;
  }

  .cardsCarousel {
    display: contents;

    a {
      text-decoration: none;
      color: inherit;
    }
  }
}

@media screen and (max-width: 768px) {
  .howItWorksContainer {
    margin-block: 40px;

    h2 {
      font-size: 2.1rem;
    }

    .subText {
      width: 600px;
      margin-bottom: 30px;
      margin-top: 0;
    }
  }

  .featuredDestinationContainer {
    h2 {
      font-size: 2.1rem;
    }

    .subText2 {
      margin-top: 0;
    }
  }
}

@media screen and (max-width: 768px) and (min-width: 426px) {
  .featuredDestinationContainer {
    .cardsCarousel {
      >*:nth-child(3) {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 425px) {
  .howItWorksContainer {
    grid-template-columns: 1fr;
    margin-bottom: 35px;
    padding-bottom: 55px;

    h2 {
      font-size: 1.7rem;
    }

    .subText {
      width: 380px;
      margin-top: 0;
    }
  }

  .featuredDestinationContainer {
    grid-template-columns: 1fr;

    h2 {
      font-size: 1.7rem;
    }

    .subText2 {
      width: 380px;
      margin-top: 0;
    }
  }
}

@media screen and (max-width: 375px) {
  .howItWorksContainer {
    h2 {
      font-size: 1.7rem;
    }

    .subText {
      width: 280px;
      font-size: 1.1rem;
    }
  }

  .featuredDestinationContainer {
    h2 {
      font-size: 1.7rem;
    }

    .subText2 {
      width: 280px;
      font-size: 1.1rem;
    }
  }
}