@import "/src/styles/variables";
@import "/src/styles/mixins";

.howItWorksContainer {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 20px;
  justify-content: center;
  margin-block: 50px;
  padding-bottom: 70px;
  background: linear-gradient(to bottom, transparent 0%, rgba($superLightBlue2, 40%));
  font-size: 1rem;
  

  h2 {
    grid-column: 1 / -1;
    font-size: 2.5rem;
    margin-bottom: 0;
    font-weight: 600;
  }

  .subText {
    grid-column: 1 / -1;
    font-size: 1.2rem;
    width: 800px;
    justify-self: center;
    margin-bottom: 50px;
  }

  .cardsCarousel {
    display: contents;
  }

  .iconWrapper {
    display: flex;
    justify-content: flex-start;
    padding: 12px 20px;
    border-radius: 15px;
    margin-top: 30px;
    margin-inline: 20px;
  }

  .thermometerWrapper {
    @extend .iconWrapper;
    background-color: $superLightPink;
  }

  .palmTreeWrapper {
    @extend .iconWrapper;
    background-color: $superLightGreen;
  }

  .sparklesWrapper {
    @extend .iconWrapper;
    background-color: $lightYellow;
  }

  .iconSize {
    width: 30px;
    height: 30px;
  }

  .thermometerIcon {
    @extend .iconSize;
    color: rgb(213, 46, 82);
  }

  .palmTreeIcon {
    @extend .iconSize;
    color: $palmTreeGreen;
  }

  .sparklesIcon {
    @extend .iconSize;
    color: $superDarkYellow;
  }

  .finalPunchArticle {
    background-color:rgba($superLightGreen, 0.5);
    width: 650px;
    grid-column: 1 / -1;
    justify-self: center;
    margin-top: 60px;
    padding: 25px;
    font-size: 1.3rem;
    border-radius: 10px;
    box-shadow: inset 0 0 0 3px rgba($lightGreen, 0.03);

    h4 {
      font-size: 1.4rem;
      margin-top: 10px;
      margin-bottom: 0;
      font-weight: 600;
    }

    p {
      margin-bottom: 30px;
    }

    a {
      @include button-base;
      font-size: 1.2rem;
      padding: 5px 10px;
    }
  }
}

.featuredDestinationContainer {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 20px;
  justify-content: center;
  margin-bottom: 100px;

  h2 {
    grid-column: 1 / -1;
    font-size: 2.5rem;
    margin-block: 0;
    font-weight: 600;
  }

  .subText2 {
    grid-column: 1 / -1;
    font-size: 1.2rem;
    justify-self: center;
  }

  .cardsCarousel {
    display: contents;
  }
}

@media screen and (max-width: 768px) {
  .howItWorksContainer {
    margin-block: 40px;

    h2 {
      font-size: 2.1rem;
    }
    
    .subText {
      width: 600px;
      margin-bottom: 30px;
    }

    .iconWrapper {
      padding: 10px 15px;
      margin-top: 20px;
      margin-inline: 15px;
    }

    .iconSize {
      width: 25px;
      height: 25px;
    }

    .finalPunchArticle {
      width: 580px;
      padding-block: 10px;
      font-size: 1.2rem;
      margin-top: 40px;

      h4 {
        font-size: 1.3rem;
      }
    }
  }

  .featuredDestinationContainer {
    h2 {
      font-size: 2.1rem;
    }
  }
}

@media screen and (max-width: 425px) {
  .howItWorksContainer {
    grid-template-columns: 1fr;
    margin-bottom: 35px;
    padding-bottom: 55px;

    h2 {
      font-size: 1.7rem;
    }
  
    .subText {
      width: 380px;
      margin-top: 0;
    }
    
    .finalPunchArticle {
      width: 360px;
      font-size: 1.1rem;

      h4 {
        font-size: 1.2rem;
      }
    }
  }

  .featuredDestinationContainer {
    grid-template-columns: 1fr;

    h2 {
      font-size: 1.7rem;
    }
  
    .subText2 {
      width: 380px;
      margin-top: 0;
    }
  }
}

@media screen and (max-width: 375px) {
  .howItWorksContainer {
    h2 {
      font-size: 1.7rem;
    }
    
    .subText {
      width: 280px;
      font-size: 1.1rem;
    }
    
    .finalPunchArticle {
      width: 280px;
      font-size: 1rem;

      h4 {
        font-size: 1.1rem;
      }
    }
  }
  
  .featuredDestinationContainer {
    h2 {
      font-size: 1.7rem;
    }
    
    .subText2 {
      width: 280px;
      font-size: 1.1rem;
    }
  }
}